<!DOCTYPE html>
<html>
  <head>
    <title>8bitc.art</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script type="application/json" id="worker"><%= asset_pack_path 'worker.js' %></script>
  </body>
</html>
